<h1>The Krusty Krab!</h1>

<ul>
  {{#each menu}}
  <li>
    <p>
      Burger Type: {{menu_item}}
    </p>
  </li>
  {{/each}}
</ul>

<h2>Add A Menu Item You Want To Consume!</h2>
<form id="createplan" class="button-size">
  <textarea type="text" name="typeBurger"></textarea>
  <button type="submit">Add Burger!</button>
</form>